{
    "openapi": "3.0.0",
    "info": {
        "title": "API Documentation",
        "description": "API documentation for the Ticket Place App",
        "contact": {
            "email": "ticket.place@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://apid.c4m.mg/ticket-place-app/public",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local Server"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Loged In user",
                "description": "Connect user",
                "operationId": "bc76a9d52929cab7a147ca7b5c527430",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "user nout found"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout user",
                "description": "DéConnecter user",
                "operationId": "0ab4e3cf7bc4f7ec81b48f7928c7de7c",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "user nout found"
                    },
                    "400": {
                        "description": "donnée incomplète"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/send-verification-mail": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Email Vérification",
                "description": "Send email verification",
                "operationId": "328c9d0bdc072a7146e58b58652c187f",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/reset-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Reset Password",
                "description": "Reset user Password",
                "operationId": "28566bf52aa8f35c19b304b2c2be3829",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "token": {
                                        "type": "string",
                                        "example": "6877a453f843f88c025e2b4fe5f543ea1ce5d823a3bb132605c210d4f0d81d04"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "password",
                                        "example": "****"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun user trouvé"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/forgot-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Send Link reset Password",
                "description": "Send Link reset to Password",
                "operationId": "e6a36e6e48542536284f7f26f6cc4d7f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun user trouvé"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register User",
                "description": "enregistre user",
                "operationId": "18235ea6963e661c49bf381065779d6a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "fname": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "lname": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/verify-email/{id}/{hash}": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Verify Email with token",
                "description": "Verify Email using token",
                "operationId": "9259c8d59d0ff37e9eb7677b82731d49",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "hash",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/verify-email/{id}/{hash}": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Verify Email no token",
                "description": "Verify Email no token",
                "operationId": "20c2c0d0d4dac7b0c5bb726bc3ee995c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID user",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "hash",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/codes": {
            "get": {
                "tags": [
                    "Codes"
                ],
                "summary": "Get All Info Code",
                "description": "return list of the all code",
                "operationId": "e24402fbc821a5e04a9143d4ad9be1c0",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/codes/{code_id}": {
            "get": {
                "tags": [
                    "Codes"
                ],
                "summary": "Get One Code Info",
                "description": "return the info of the code",
                "operationId": "e467a65b2cfa89fc44af5c9c3da97dc0",
                "parameters": [
                    {
                        "name": "code_id",
                        "in": "path",
                        "description": "ID of the code to show",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            },
            "put": {
                "tags": [
                    "Codes"
                ],
                "summary": "Update code",
                "description": "Update reduction code",
                "operationId": "4c205b2ab6d92acf6a4bee9d99d50dcf",
                "parameters": [
                    {
                        "name": "code_id",
                        "in": "path",
                        "description": "ID of the code to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "price": {
                                        "type": "integer",
                                        "example": "1000"
                                    },
                                    "expire_at": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-04-30"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/generate-code": {
            "post": {
                "tags": [
                    "Codes"
                ],
                "summary": "Generate new random code",
                "description": "Generate new random reduction code",
                "operationId": "6c9692e78f8424afd41df31821fa5316",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/events": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get All Events List",
                "description": "return list of the all event Event",
                "operationId": "7058ab7c89d20c752b6afd6d808f6526",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            },
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Create new Event",
                "description": "Create new Event",
                "operationId": "508895e03d7f10edac84357084c87b20",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "titre": {
                                        "type": "string",
                                        "example": "concert"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "plus de detail sur l'event"
                                    },
                                    "localisation": {
                                        "type": "string",
                                        "example": "Rex Anjoma"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-08-23"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "example": [
                                            "1",
                                            "3",
                                            "5",
                                            "6"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/events/{event_id}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get One Event Info",
                "description": "return info of the Event",
                "operationId": "f78fefe3df55f27051847d9671fa08f8",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of the Event to show",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            },
            "put": {
                "tags": [
                    "Events"
                ],
                "summary": "Update Event",
                "description": "Update Event info",
                "operationId": "3435e2edc46ba77b987ef08fbb857fbd",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of the Event to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "titre": {
                                        "type": "string",
                                        "example": "concert"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "plus de detail sur l'event"
                                    },
                                    "localisation": {
                                        "type": "string",
                                        "example": "Rex Anjoma"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-08-23"
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": "1"
                                        },
                                        "example": [
                                            "1",
                                            "3",
                                            "5",
                                            "6"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Events"
                ],
                "summary": "Delete event",
                "description": "Delete event",
                "operationId": "279659e863edbef6d1082a03a201715a",
                "parameters": [
                    {
                        "name": "event_id",
                        "in": "path",
                        "description": "ID of the event to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action not authorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/search-event": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Search or Filter Events",
                "description": "Search or Filter Events",
                "operationId": "18d2c475a7c2734e20371af2f187ab9d",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Title of the event",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "localisation",
                        "in": "query",
                        "description": "Location of the event",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date of the event (format: YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date of the event (format: YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "Tag associated with the event",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/tags": {
            "get": {
                "tags": [
                    "Tags"
                ],
                "summary": "Get All Tags List",
                "description": "return list of the all event tag",
                "operationId": "4d0f4baf9e6fa992c0d85fbf140ebf17",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            },
            "post": {
                "tags": [
                    "Tags"
                ],
                "summary": "Create new Tag",
                "description": "Create new Tag",
                "operationId": "a0a246f29dcb119a2189fd230fc10028",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "label": {
                                        "type": "string",
                                        "example": "concert"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/tags/{tag_id}": {
            "get": {
                "tags": [
                    "Tags"
                ],
                "summary": "Get One Tag Info",
                "description": "return info of the tag",
                "operationId": "17cf4f4a882aae3d887866484660df56",
                "parameters": [
                    {
                        "name": "tag_id",
                        "in": "path",
                        "description": "ID of the tag to show",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            },
            "put": {
                "tags": [
                    "Tags"
                ],
                "summary": "Update Tag",
                "description": "Update Tag label",
                "operationId": "3a64462cc7467aedc95b80bf19a299de",
                "parameters": [
                    {
                        "name": "tag_id",
                        "in": "path",
                        "description": "ID of the tag to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "label": {
                                        "type": "string",
                                        "example": "bal masqué"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "donné incomplet"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Tags"
                ],
                "summary": "Delete tag",
                "description": "Delete tag",
                "operationId": "d24105e20ffcde076b873eaec69e2965",
                "parameters": [
                    {
                        "name": "tag_id",
                        "in": "path",
                        "description": "ID of the tag to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action not authorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "erreur serveur"
                    }
                }
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get List of users",
                "description": "return list of all users",
                "operationId": "c457726701591d1183b53aa71fc13441",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    }
                }
            }
        },
        "/api/users/{user_id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get One User",
                "description": "return the users",
                "operationId": "e10f96743f349605ddec7dd8f1a09324",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of the user to show",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun user trouvé"
                    },
                    "500": {
                        "description": "erreur interne serveur"
                    }
                }
            },
            "put": {
                "tags": [
                    "Users"
                ],
                "summary": "Update one user",
                "description": "update information of one user",
                "operationId": "c64f78766f4915182147dd62bcc1e3f3",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of the user to update",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "fname": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "lname": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "0345992047"
                                    },
                                    "type": {
                                        "type": "string",
                                        "example": "administrator"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun user trouvé"
                    },
                    "400": {
                        "description": "donné incomplet"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "summary": "Delete one user",
                "description": "Delete the user",
                "operationId": "8813fccf55a87ec7b1237ecdee00419f",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID of the user to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "404": {
                        "description": "aucun user trouvé"
                    },
                    "500": {
                        "description": "Erreur interne serveur"
                    }
                }
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Get profile info",
                "description": "return the current user info",
                "operationId": "4373251f8140344279ac32a1ac817cef",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "404": {
                        "description": "aucun résultat trouvé"
                    },
                    "401": {
                        "description": "action unauthorized"
                    },
                    "403": {
                        "description": "action forbiden"
                    },
                    "500": {
                        "description": "Erreur serveur"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Auth"
        },
        {
            "name": "Codes",
            "description": "Codes"
        },
        {
            "name": "Events",
            "description": "Events"
        },
        {
            "name": "Tags",
            "description": "Tags"
        },
        {
            "name": "Users",
            "description": "Users"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ]
}